/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.porsche {
  position: absolute;
  top: 52%;
  left: 56%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: "Bebas Neue", cursive;
}
.carrera {
  position: absolute;
  top: 57%;
  left: 46%;
  transform: translate(-50%, -50%);
  font-family: "Alex Brush", cursive;
}
/* Container for Landing Page */
.containerLanding {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingAnimation {
  color: black;
  font-size: 100px;
}

/* Main Container */
.main_container {
  height: 100vh;
  width: 100%;
  position: relative;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 73);
}

/* Content Styling */
.content {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.scroll-container {
  position: relative;
  overflow: hidden;
  width: 45%;
  height: 100vh;
}

/* Individual Images */
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 1s ease-in-out;
}

/* Buttons */
.btn {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}
.btn1 {
  position: absolute;
  top: 51%;
  left: 3%;
  transform: translateY(-50%);
}

.btn2 {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}

/* Responsive Images */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* Animations and Transitions */
.main_container {
  transition: background-color 0.5s ease-in-out;
}

.container {
  transition: transform 0.5s ease-in-out;
}

.img {
  transition: transform 0.8s ease-in-out;
}

@media (max-width: 768px) {
  .scroll-container,
  .container {
    height: 80vh;
  }

  .img {
    object-fit: contain;
  }
}

.text_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 50px;
  overflow-y: hidden;
  position: relative;
  top: -120px;
  left: 130px;
  text-align: center;
}

.text {
  color: transparent;
  margin: 10px 0;
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.3s ease, translateY 0.5s ease;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%) scale(0.8);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-stroke: 0.1px black;
}

.text.active {
  color: rgba(255, 255, 255, 0.269);
  opacity: 1;
  transform: translate(-50%, -50%) scale(4);
}

.info_container {
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 3;
}
ul {
  margin-right: 50px;
}
li {
  list-style: none;
  font-size: 30px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
}
.title {
  color: rgb(94 120 166);
  font-size: 20px;
}

/* media query */
@media (max-width: 768px) {
  .main_container {
    height: 80vh;
  }

  .scroll-container,
  .container {
    height: 80vh;
    width: 80%;
  }

  .img {
    object-fit: contain;
  }

  .content {
    font-size: 10vw;
  }

  .porsche {
    font-size: 15vw;
  }

  .carrera {
    font-size: 10vw;
  }

  .btn {
    font-size: 6vw;
  }

  .text_container {
    font-size: 10px;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .text {
    font-size: 6vw;
    -webkit-text-stroke: 0.1px black;
  }
}

/* Text Styling */
.text_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 50px;
  overflow-y: hidden;
  position: relative;
  top: -120px;
  left: 130px;
  text-align: center;
}

.text {
  color: transparent;
  margin: 10px 0;
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.3s ease, translateY 0.5s ease;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%) scale(0.8);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-stroke: 0.1px black;
}

.text.active {
  color: rgba(255, 255, 255, 0.269);
  opacity: 1;
  transform: translate(-50%, -50%) scale(4);
}

.info_container {
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  z-index: 3;
}

ul {
  margin-right: 50px;
}

li {
  list-style: none;
  font-size: 30px;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
}

.title {
  color: rgb(94, 120, 166);
  font-size: 20px;
}
